# Variable :- 
Variable is a name of memory, means the value is save in computer memory & memory have its own address & address have numeric term, instead of numeric term we give the name called Variable.

In [ ]:


a=10
print(a);

In [5]:
# Numeric 
# String
# Float(Decimal)
# Boolean (true, false)

In [4]:
string="This is Python";
print(string);

This is Python

In [1]:
#float
flo =3.5
print(flo);

3.5

In [3]:
#Boolean
bool = True;
print(bool);

True

In [4]:
var = 100
print(var);
print(id(var));

100
1853923855696

# Find the type of variable

In [8]:
var = 23
type(var)

int

In [12]:
data = "Ram"
type(data)

str

In [13]:
data2 = 'Shyam'
type(data2)

str

In [14]:
type(flo)

float

# Rules for python

In [16]:
# 1. Python is case sensitive.
# 2. Python is space sensitive.

# Rules to make variable in python

In [20]:
# 1. Variable is case-sensitive. [a=10, A=10] # Both are different.
# 2. Variable should start with alphabet or underscore.
# 3. Number cannot be a variable.
# 4. Variable also space-sensitive.

In [21]:
_d = 12

In [22]:
_d

12

In [24]:
_as=12
_as

12

In [27]:
d=34
e = 'scsb'
m = 989
print(d)
print(e)
m

34
scsb

989

# Token :

In [29]:
# Tokens are the smallest meaningful units in a Python program.
# Any logical piece of code when broken down, every part of it is called token.
# Smallest part to be executed.
# Python execute code line by line.

# Types of Token:
1. Keyword    2. Identifier      3. Literals    4. Operators.

In [2]:
# Keywords